n8n-toolkit/test-workflow-native-providers.json
{
  "name": "Native Provider Pipeline (Pre-Migration)",
  "nodes": [
    {
      "parameters": {},
      "id": "b1000000-0000-0000-0000-000000000001",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 400],
      "webhookId": "native-pipeline-test"
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.5,
          "maxTokens": 1024
        }
      },
      "id": "b1000000-0000-0000-0000-000000000010",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [200, 200],
      "credentials": {
        "openAiApi": {
          "id": "",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are a research assistant. Given a topic, produce a concise 3-point outline for a short article. Output ONLY the outline, numbered 1-3."
        }
      },
      "id": "b1000000-0000-0000-0000-000000000011",
      "name": "Step 1 - Outline (OpenAI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [400, 400]
    },
    {
      "parameters": {
        "modelName": "claude-sonnet-4-6",
        "options": {
          "maxTokensToSample": 2048,
          "temperature": 0.7
        }
      },
      "id": "b1000000-0000-0000-0000-000000000020",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.7,
      "position": [600, 200],
      "credentials": {
        "anthropicApi": {
          "id": "",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Write a short article (3 paragraphs) based on this outline:\n\n{{ $json.output }}",
        "options": {
          "systemMessage": "You are a skilled writer. Expand the given outline into a well-written short article with exactly 3 paragraphs. Be concise but informative."
        }
      },
      "id": "b1000000-0000-0000-0000-000000000021",
      "name": "Step 2 - Write (Anthropic)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [800, 400]
    },
    {
      "parameters": {
        "model": "gpt-4.1-mini",
        "options": {
          "temperature": 0.3,
          "maxTokens": 512
        }
      },
      "id": "b1000000-0000-0000-0000-000000000030",
      "name": "Azure OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "typeVersion": 1.1,
      "position": [1000, 200],
      "credentials": {
        "azureOpenAiApi": {
          "id": "",
          "name": "Azure OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Summarize this article in exactly 2 sentences:\n\n{{ $json.output }}",
        "options": {
          "systemMessage": "You are a concise editor. Summarize the given article in exactly 2 sentences."
        }
      },
      "id": "b1000000-0000-0000-0000-000000000031",
      "name": "Step 3 - Summarize (Azure)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "outline",
              "value": "={{ $('Step 1 - Outline (OpenAI)').item.json.output }}"
            },
            {
              "name": "article",
              "value": "={{ $('Step 2 - Write (Anthropic)').item.json.output }}"
            },
            {
              "name": "summary",
              "value": "={{ $('Step 3 - Summarize (Azure)').item.json.output }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b1000000-0000-0000-0000-000000000050",
      "name": "Collect Results",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1600, 400]
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Step 1 - Outline (OpenAI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step 1 - Outline (OpenAI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Step 1 - Outline (OpenAI)": {
      "main": [
        [
          {
            "node": "Step 2 - Write (Anthropic)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step 2 - Write (Anthropic)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Step 2 - Write (Anthropic)": {
      "main": [
        [
          {
            "node": "Step 3 - Summarize (Azure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Azure OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step 3 - Summarize (Azure)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Step 3 - Summarize (Azure)": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {}
}
