n8n-toolkit/test-workflow-payi-databricks.json
{
  "id": "wf-databricks-sample",
  "name": "Pay-i Databricks Sample",
  "nodes": [
    {
      "id": "trigger-1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "agent-1",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [600, 300],
      "parameters": {
        "text": "={{ $json.input }}",
        "options": {}
      }
    },
    {
      "id": "dbx-chat-1",
      "name": "Pay-i Databricks (Proxy)",
      "type": "n8n-nodes-payi.lmChatPayiDatabricks",
      "typeVersion": 1,
      "position": [600, 500],
      "parameters": {
        "endpointName": {
          "mode": "name",
          "value": "databricks-claude-sonnet-4-6"
        },
        "deployedModel": "claude-sonnet-4-6",
        "cloudProvider": "aws",
        "options": {
          "temperature": 0.5,
          "maxTokens": 1024
        },
        "useCaseName": "={{ $workflow.name }}",
        "useCaseId": "={{ $execution.id }}"
      },
      "credentials": {
        "payiApi": {
          "id": "cred-payi-1",
          "name": "Pay-i API"
        },
        "payiDatabricksApi": {
          "id": "cred-dbx-1",
          "name": "Databricks PAT"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Pay-i Databricks (Proxy)": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    }
  }
}
